.card-personalizado {
  max-width: 300px;
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
}

.card-personalizado:hover {
  border-color: #730707;         
  box-shadow: 0px 6px 14px rgba(115, 7, 7, 0.4);
  transform: scale(1.02);        
}

.card-imagem {
  width: 100%;
  height: 350px;       
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.btn.btn-carrinho {
  background-color: #DDAEAC;
  border-color: #DDAEAC;
  color: #730707;
}

.btn.btn-carrinho:hover {
  background-color: #730707;
  border-color: #730707;
  color: #FFFFFF;
}

.preco-card {
  color: #730707;
  font-size: 1.5rem;
  font-weight: bold;
}

.catalogo-bg {
  background-color: #E6DBDA; 
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .card-personalizado {
    max-width: 100%; 
    margin-left: auto;
    margin-right: auto; 
  }
}

@media (max-width: 576px) {
  .card-imagem {
    height: auto;       
    object-fit: contain; 
    max-height: none;    
  }
}
