@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

nav.navbar-custom {
    background-color: #730707;
    box-shadow: #0000; 
}

nav.navbar-custom .navbar-brand {
    color: #FFFBD0; 
    font-size: 2.0rem; 
    font-weight: bold;
}