.detalhes-bg {
  background-color: #F9ECEB;
  min-height: 100vh;
  padding: 30px 15px;
  box-sizing: border-box;
}

.info-container {
  background: white;
  border-radius: 12px;
  border: 2px solid #DDAEAC;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.cep-container {
  background: #fff;
  border-radius: 12px;
  border: 2px solid #DDAEAC;
  width: 100%; 
}

.preco-produto {
  color: #730707;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 15px 0;
}

.btn-add-carrinho {
  background-color: #730707;
  border: none;
  color: #FFFF;
  padding: 12px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.3s ease;
  width: 100%;
  margin-top: 15px;
}

.btn-add-carrinho:hover {
  background-color: #DDAEAC;
  color: #730707;
  transform: scale(1.03);
}

.produto-imagem {
  width: 100%;       
  max-height: 500px; 
  height: auto;      
  object-fit: contain; 
  border-radius: 12px;
}

@media (max-width: 768px) {
  .info-container {
    padding: 15px;
  }

}

@media (max-width: 480px) {
  .info-container {
    padding: 10px;
  }

  .btn-add-carrinho {
    font-size: 1rem;
    padding: 10px 15px;
  }
}
